// ### General CSS styles begin here ###

body {
  background-image: url(./images/dark_wood.png);
  // * {
  //   border: 1px solid red;
  // }
}

.font1 {
  font-family: "Libre Barcode 39 Text", cursive;
  font-size: 200%;
}
