.container-fluid {
  // border: 1px solid green;
  height: 16vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: #e4e3c8;
  // flex-wrap: nowrap;
  // background-color: black;
  // opacity: 0.6;
}

.itsMe {
  font-size: calc(0.6vw + 0.6vh + 0.3vmin);
  // ### setting alpha just to the background ###
  background: rgba(0, 0, 0, 0.8);
  // border: 0.1rem solid #e4e3c8;
  border-radius: 0.3rem;
  box-shadow: 0px 1px 2px black;
  img {
    height: calc(0.8vw + 0.8vh + 0.4vmin);
    position: relative;
    top: -0.05rem;
  }
}

// ### Media query to set new height when header is not displayed ###

// @media screen and (max-width: 768px) {
//   .container-fluid {
//     border: 1px solid green;
//     height: 40vh;
//     display: flex;
//     justify-content: flex-end;
//     align-items: flex-end;
//     // font-size: 10%;
//     color: green;
//     // background-color: black;
//     // opacity: 0.6;
//   }
// }
