<div class="container-fluid p-2">
  <div class="itsMe py-1 px-2">
    This was coded by&nbsp;<span style="color: rgb(255, 88, 241)">&#123;</span
    ><span style="color: turquoise">&#123;</span>myself<span
      style="color: turquoise"
      >&#125;</span
    ><span style="color: rgb(255, 88, 241)">&#125;</span>&nbsp;using
    <i class="fab fa-html5"></i>, <i class="fab fa-css3-alt"></i>|<i
      class="fab fa-sass"
    ></i
    >, <i class="fab fa-js-square"></i>|TS, <i class="fab fa-bootstrap"></i> and
    <i class="fab fa-angular"></i>.
  </div>
</div>
