<div class="container-fluid p-3">
  <div class="itsMe py-1 px-2">
    This was coded by&nbsp;<span style="color: rgb(255, 88, 241)">&#123;</span
    ><span style="color: turquoise">&#123;</span>myself<span
      style="color: turquoise"
      >&#125;</span
    ><span style="color: rgb(255, 88, 241)">&#125;</span>&nbsp;using HTML<img
      src="assets/icons/html.svg"
    />, CSS<img src="assets/icons/css.svg" />&nbsp;<img
      src="assets/icons/sass.svg"
    />, <img src="assets/icons/javascript.svg" />&nbsp;<img
      src="assets/icons/typescript.svg"
    />, <img src="assets/icons/bootstrap.svg" /><span style="font-size: 0.4rem"
      >5.0</span
    >
    and <img src="assets/icons/angular.svg" /><span style="font-size: 0.4rem"
      >11</span
    >.
  </div>
</div>
