.container-fluid {
  // border: 1px solid green;
  height: 24vh;

  display: flex;

  align-items: flex-start;
  color: #e4e3c8;
}

.hello {
  font-size: calc(2vw + 2vh + 1vmin);
  // // ### setting alpha just to the background ###
  background: rgba(0, 0, 0, 0.8);
  // border: 0.2rem solid #e4e3c8;
  box-shadow: 0px 1px 2px black;
  border-radius: 0.3rem;
  // img {
  //   height: calc(0.8vw + 0.8vh + 0.4vmin);
  //   position: relative;
  //   top: -0.05rem;
  // }
}
