/* ### Container begins here ### */

#container {
    width: 618px;
    height: 470px;
    border: 1px solid black;
    margin: auto;
    background-image: url("./images/technews.jpg");
    background-size: cover;
    background-position: 0 -240px;
}


/* ### Sub-Headline begins here ### */

h2 {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 6px;
    font-size: 150%;
    top: -60px;
}

#container>* {
    font-family: "Share Tech", sans-serif;
}

#photo {
    width: 550px;
    height: 410px;
    position: relative;
    top: -47px;
    background-color: #ffffffbb;
    margin: auto;
    padding: 10px;
}

#photo img {
    width: 250px;
    background-size: cover;
    margin-right: 10px;
    float: left;
}