<div class="d-flex m-0 p-0">
  <div class="blockScroll m-0 p-0">&nbsp;&nbsp;</div>

  <div (wheel)="countSpin()" class="container-fluid">
    <div class="row">
      <div #start id="cr1" class="card">
        <a href="http://semintra.dev/FSWDC_CodeReview_01/index.html">
          <img src="assets/images/CodeReview01.jpg"
        /></a>
      </div>
      <div id="cr1text" class="card">
        <div class="crHead p-1 px-2">
          <div class="crTitle">
            Code <span style="color: rgb(143, 224, 235)">Review</span>
          </div>
          <div class="crSubTitle">
            week<span style="color: rgb(255, 88, 241)">#1</span>
          </div>
        </div>
        <div class="crTask p-1 px-2">
          <span style="color: rgb(255, 136, 0)">-></span> Basic Website
        </div>
        <div class="crTec">
          <img src="assets/icons/html.svg" /><img src="assets/icons/css.svg" />
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <!-- <img src="..." class="card-img-top" alt="..." /> -->
        <div class="card-body">
          <p class="card-text">
            /* SKILLS:<br /><br />Some quick example text. */
          </p>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <!-- <img src="..." class="card-img-top" alt="..." /> -->
        <div class="card-body">
          <p class="card-text">
            /* CONTACT ME:<br /><br />Some quick example text. */
          </p>
        </div>
      </div>

      <div class="card" style="width: 9rem">
        <!-- <img src="..." class="card-img-top" alt="..." /> -->
        <div class="card-body">
          <p class="card-text">
            /* CODE REVIEW 02:<br /><br />Some quick example text. */
          </p>
        </div>
      </div>
      <div class="card" style="width: 9rem">
        <!-- <img src="..." class="card-img-top" alt="..." /> -->
        <div class="card-body">
          <p class="card-text">
            /* CODE REVIEW 03:<br /><br />Some quick example text. */
          </p>
        </div>
      </div>
      <div class="card" style="width: 9rem">
        <!-- <img src="..." class="card-img-top" alt="..." /> -->
        <div class="card-body">
          <p class="card-text">
            /* CODE REVIEW 04:<br /><br />Some quick example text. */
          </p>
        </div>
      </div>
      <div class="card" style="width: 15rem">
        <!-- <img src="..." class="card-img-top" alt="..." /> -->
        <div class="card-body">
          <p class="card-text">
            /* GROUP PROJECT:<br /><br />Some quick example text. */
          </p>
        </div>
      </div>
    </div>

    <!-- ### Row Two begins here ### -->

    <div class="row">
      <div class="card" style="width: 30rem">
        <div class="card-body">
          <p class="card-text">
            /* USER-NOTE: <button (click)="scroll(end)">R</button
            ><br /><br />Actually the whole main-element should scroll
            left/right on Mouse-wheel up/down. I made it work in JS, but
            unfortunately couldn't do so in Angular yet (Wheel used
            {{ spinCounter }} times). In the meantime click the buttons, please.
            */
          </p>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <p class="card-text">
            /* TO-DO<br />Personal Info<br />Frontend/Backend- + skills in
            general<br />Projects/Codereviews<br />Contact form */
          </p>
        </div>
      </div>
      <div class="card" style="width: 22rem">
        <div class="card-body">
          <p class="card-text">
            /* ROAD-MAP <br />alpha 1.0 basic website layout complete (bg-image,
            colors, footer, version) alpha 1.1 navbar links + contact form
            working (home, contact, github, linkedin) alpha 1.2 beta 2.0
            deadline release (Fr/09/04/21/1200) */
          </p>
        </div>
      </div>
      <div class="card" style="width: 9rem">
        <!-- <img src="..." class="card-img-top" alt="..." /> -->
        <div class="card-body">
          <p class="card-text">
            /* CODE REVIEW 05:<br /><br />Some quick example text. */
          </p>
        </div>
      </div>
      <div class="card" style="width: 9rem">
        <!-- <img src="..." class="card-img-top" alt="..." /> -->
        <div class="card-body">
          <p class="card-text">
            /* CODE REVIEW 06:<br /><br />Some quick example text. */
          </p>
        </div>
      </div>
      <div #end class="card" style="width: 18rem">
        <!-- <img src="..." class="card-img-top" alt="..." /> -->
        <div class="card-body">
          <p class="card-text">
            <button (click)="scroll(start)">L</button>Some quick example text.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
