<div class="d-flex m-0 p-0">
  <div class="blockScroll m-0 p-0">&nbsp;&nbsp;</div>

  <div (wheel)="countSpin()" class="container-fluid homeCont">
    <div class="row">
      <!-- ### Code Review 01 tiles begin here ### -->

      <div #start class="codeReview card">
        <a href="http://semintra.dev/FSWDC_CodeReview_01/index.html">
          <img class="crZoom" src="assets/images/CodeReview01.jpg"
        /></a>
      </div>
      <div class="card crtext">
        <div class="crHead p-1 px-2">
          <div class="crTitle">
            Code <span style="color: rgb(143, 224, 235)">Review</span>
          </div>
          <div class="crSubTitle">
            <div class="crTime">t<span style="color: red">:</span>1d</div>
            <div>week<span style="color: rgb(255, 88, 241)">#1</span></div>
          </div>
        </div>
        <div class="crTask p-1 px-2">
          <span style="color: rgb(255, 136, 0)">-></span>rebuild basic Website
        </div>
        <div class="crTec">
          <img src="assets/icons/html.svg" /><img src="assets/icons/css.svg" />
        </div>
      </div>

      <!-- ### Code Review 03 tiles begin here ### -->

      <div class="codeReview card">
        <a href="http://semintra.dev/FSWDC_CodeReview_03/index.html">
          <img class="crZoom" src="assets/images/CodeReview03.jpg"
        /></a>
      </div>
      <div class="card crtext">
        <div class="crHead p-1 px-2">
          <div class="crTitle">
            Code <span style="color: rgb(143, 224, 235)">Review</span>
          </div>
          <div class="crSubTitle">
            <div class="crTime">t<span style="color: red">:</span>1d</div>
            <div>week<span style="color: rgb(255, 88, 241)">#3</span></div>
          </div>
        </div>
        <div class="crTask p-1 px-2">
          <span style="color: rgb(255, 136, 0)">-></span>Restaurant Website
        </div>
        <div class="crTec">
          <img src="assets/icons/html.svg" /><img
            src="assets/icons/sass.svg"
          /><img src="assets/icons/bootstrap.svg" /><img
            src="assets/icons/javascript.svg"
          />
        </div>
      </div>

      <!-- ### Code Review 05 tiles begin here ### -->

      <div class="codeReview card">
        <a href="http://semintra.dev/FSWDC_CodeReview_05/index.html">
          <img class="crZoom" src="assets/images/CodeReview05.jpg"
        /></a>
      </div>
      <div class="card crtext">
        <div class="crHead p-1 px-2">
          <div class="crTitle">
            Code <span style="color: rgb(143, 224, 235)">Review</span>
          </div>
          <div class="crSubTitle">
            <div class="crTime">t<span style="color: red">:</span>1d</div>
            <div>week<span style="color: rgb(255, 88, 241)">#5</span></div>
          </div>
        </div>
        <div class="crTask p-1 px-2">
          <span style="color: rgb(255, 136, 0)">-></span>City Blog
        </div>
        <div class="crTec">
          <img src="assets/icons/sass.svg" /><img
            src="assets/icons/bootstrap.svg"
          /><img src="assets/icons/javascript.svg" /><img
            src="assets/icons/typescript.svg"
          />
        </div>
      </div>

      <!-- ### Group Project 01 tiles begin here ### -->

      <div class="codeReview card">
        <a href="http://semintra.dev/FSWDC_GroupProject_01/index.html">
          <img class="crZoom" src="assets/images/GroupProject01.jpg"
        /></a>
      </div>
      <div class="card crtext">
        <div class="crHead p-1 px-2">
          <div class="crTitle">
            Group <span style="color: rgb(143, 224, 235)">Project</span>
          </div>
          <div class="crSubTitle">
            <div class="crTime">t<span style="color: red">:</span>3d</div>
            <div>week<span style="color: rgb(255, 88, 241)">#7</span></div>
          </div>
        </div>
        <div class="crTask p-1 px-2">
          <span style="color: rgb(255, 136, 0)">-></span>Photography Website
        </div>
        <div class="crTec">
          <img src="assets/icons/sass.svg" /><img
            src="assets/icons/bootstrap.svg"
          /><img src="assets/icons/typescript.svg" /><img
            src="assets/icons/angular.svg"
          />
        </div>
      </div>

      <!-- ### Code Review Placeholder tiles begin here ### -->

      <div class="codeReview card PH">
        <img src="assets/images/pHolderCR.png" />
      </div>
      <div class="card crtext">
        <div class="crHead p-1 px-2">&nbsp;<br />&nbsp;</div>
        <div class="crTask p-1 px-2">&nbsp;<br />&nbsp;</div>
        <div class="crTec">&nbsp;&nbsp;&nbsp;</div>
      </div>

      <!-- ### Code Review Placeholder tiles begin here ### -->

      <div #start class="codeReview card PH">
        <img src="assets/images/pHolderCR.png" />
      </div>
      <div class="card crtext">
        <div class="crHead p-1 px-2">&nbsp;<br />&nbsp;</div>
        <div class="crTask p-1 px-2">&nbsp;<br />&nbsp;</div>
        <div class="crTec">&nbsp;&nbsp;&nbsp;</div>
      </div>

      <!-- ### Construction site begins here ### -->

      <div #end class="card conStruct">
        <button class="btn btn-dark click" (click)="scroll(start)">
          <i class="fas fa-angle-double-left"></i></button
        ><button class="btn btn-light disabled bg-danger">
          scroll<br />
          {{ spinCounter }}</button
        ><button class="btn btn-light disabled bg-danger">WORK</button>
      </div>
    </div>

    <!-- ### Row two begins here ### -->

    <div class="row">
      <!-- ### Construction site begins here ### -->

      <div class="card conStruct">
        <button class="btn btn-light disabled bg-danger">WORK</button
        ><button class="btn btn-light disabled bg-danger">
          scroll<br />
          {{ spinCounter }}</button
        ><button class="btn btn-dark click" (click)="scroll(end)">
          <i class="fas fa-angle-double-right"></i>
        </button>
      </div>

      <!-- ### Code Review 02 tiles begin here ### -->

      <div class="codeReview card">
        <a href="http://semintra.dev/FSWDC_CodeReview_02/index.html">
          <img class="crZoom" src="assets/images/CodeReview02.jpg"
        /></a>
      </div>
      <div class="card crtext">
        <div class="crHead p-1 px-2">
          <div class="crTitle">
            Code <span style="color: rgb(143, 224, 235)">Review</span>
          </div>
          <div class="crSubTitle">
            <div class="crTime">t<span style="color: red">:</span>1d</div>
            <div>week<span style="color: rgb(255, 88, 241)">#2</span></div>
          </div>
        </div>
        <div class="crTask p-1 px-2">
          <span style="color: rgb(255, 136, 0)">-></span>rebuild responsive
          Website
        </div>
        <div class="crTec">
          <img src="assets/icons/html.svg" /><img
            src="assets/icons/css.svg"
          /><img src="assets/icons/sass.svg" />
        </div>
      </div>

      <!-- ### Code Review 04 tiles begin here ### -->

      <div class="codeReview card">
        <a href="http://semintra.dev/FSWDC_CodeReview_04/index.html">
          <img class="crZoom" src="assets/images/CodeReview04.jpg"
        /></a>
      </div>
      <div class="card crtext">
        <div class="crHead p-1 px-2">
          <div class="crTitle">
            Code <span style="color: rgb(143, 224, 235)">Review</span>
          </div>
          <div class="crSubTitle">
            <div class="crTime">t<span style="color: red">:</span>1d</div>
            <div>week<span style="color: rgb(255, 88, 241)">#4</span></div>
          </div>
        </div>
        <div class="crTask p-1 px-2">
          <span style="color: rgb(255, 136, 0)">-></span>Movie Website
        </div>
        <div class="crTec">
          <img src="assets/icons/sass.svg" /><img
            src="assets/icons/bootstrap.svg"
          /><img src="assets/icons/javascript.svg" /><img
            src="assets/icons/json.svg"
          />
        </div>
      </div>

      <!-- ### Code Review 06 tiles begin here ### -->

      <div class="codeReview card">
        <a href="http://semintra.dev/FSWDC_CodeReview_06/index.html">
          <img class="crZoom" src="assets/images/CodeReview06.jpg"
        /></a>
      </div>
      <div class="card crtext">
        <div class="crHead p-1 px-2">
          <div class="crTitle">
            Code <span style="color: rgb(143, 224, 235)">Review</span>
          </div>
          <div class="crSubTitle">
            <div class="crTime">t<span style="color: red">:</span>1d</div>
            <div>week<span style="color: rgb(255, 88, 241)">#6</span></div>
          </div>
        </div>
        <div class="crTask p-1 px-2">
          <span style="color: rgb(255, 136, 0)">-></span>Travel Agency
        </div>
        <div class="crTec">
          <img src="assets/icons/sass.svg" /><img
            src="assets/icons/bootstrap.svg"
          /><img src="assets/icons/typescript.svg" /><img
            src="assets/icons/angular.svg"
          />
        </div>
      </div>

      <!-- ### Code Review Placeholder tiles begin here ### -->

      <div class="codeReview card PH">
        <img src="assets/images/pHolderCR.png" />
      </div>
      <div class="card crtext">
        <div class="crHead p-1 px-2">&nbsp;<br />&nbsp;</div>
        <div class="crTask p-1 px-2">&nbsp;<br />&nbsp;</div>
        <div class="crTec">&nbsp;&nbsp;&nbsp;</div>
      </div>

      <!-- ### Code Review Placeholder tiles begin here ### -->

      <div class="codeReview card PH">
        <img src="assets/images/pHolderCR.png" />
      </div>
      <div class="card crtext">
        <div class="crHead p-1 px-2">&nbsp;<br />&nbsp;</div>
        <div class="crTask p-1 px-2">&nbsp;<br />&nbsp;</div>
        <div class="crTec">&nbsp;&nbsp;&nbsp;</div>
      </div>

      <!-- ### Code Review Placeholder tiles begin here ### -->

      <div class="codeReview card PH">
        <img src="assets/images/pHolderCR.png" />
      </div>
      <div class="card crtext">
        <div class="crHead p-1 px-2">&nbsp;<br />&nbsp;</div>
        <div class="crTask p-1 px-2">&nbsp;<br />&nbsp;</div>
        <div class="crTec">&nbsp;&nbsp;&nbsp;</div>
      </div>
    </div>
  </div>
</div>
