<div class="container-fluid">
  <div class="row">
    <div class="card" style="width: 18rem">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="card-text">
          TO-DO<br />Personal Info<br />Frontend/Backend- + skills in general<br />Projects/Codereviews<br />Contact
          form<br />
        </p>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="card-text">Some quick example text.</p>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="card-text">Some quick example text.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card" style="width: 18rem">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="card-text">Some quick example text.</p>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="card-text">Some quick example text.</p>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="card-text">Some quick example text.</p>
      </div>
    </div>
  </div>
</div>
